<html>
	<head>
		<meta charset = "ISO-8859-1">
		<title>
			Verification Code
		</title>
		<style type = "text/css">
			body
			{
				color: #009900;
				background-color: #ffffff;
			}
			.title
			{
				color: #999999;
				font-size: 10px;
				font-family: arial;
				font-style: italic;
			}
			p
			{
				color: #002db3;
			}
		</style>
	</head>
	<body>
		<span class="title">
			Automatic message, NO REPLY.
		</span>
		<p>
			Hi {USER_NAME},
			<br/>
			<br/>
			the verification code is: <b>{VERIFICATION_CODE}</b>.
			<br/>
			<br/>
			Regards,
			<br/>
			Flokker team
		</p>
	</body>
</html>
