<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

       
        <!-- db4free.net (85.10.205.173) 
        <property name="hibernate.connection.url">jdbc:mysql://85.10.205.173:3306/flokker</property>
        <property name="hibernate.connection.username">businapp</property>
        <property name="hibernate.connection.password">businpsw</property>
        -->

        <!-- openshift (127.6.253.2) 
        NOTA: non e' possibile connettersi da remoto semplicemente con la URL dato che serve autenticazione con scambio di chiavi
        <property name="hibernate.connection.url">jdbc:mysql://127.6.253.2:3306/jbossews2tomcat7</property>
        <property name="hibernate.connection.username">businapp</property>
        <property name="hibernate.connection.password">businpsw</property>
		-->
		
		<!-- localhost
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/fff</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
        -->
        <property name="hibernate.connection.url">jdbc:mysql://85.10.205.173:3306/flokker</property>
        <property name="hibernate.connection.username">businapp</property>
        <property name="hibernate.connection.password">businpsw</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- hibernate.current_session_context_class: jta | thread | managed | custom.Class 
        (thread) org.hibernate.context.ThreadLocalSessionContext
        current sessions are tracked by thread of execution
        provide a "one session - one database transaction" programming model. This is also also known and used as session-per-request. The beginning and end of a Hibernate session is defined by the duration of a database transaction.
        -->
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
         
         <!--  mappings with Entity Objects -->
        <mapping class="it.fff.business.common.eo.AccountEO" />
        <mapping class="it.fff.business.common.eo.AchievementObtainedEO" />
        <mapping class="it.fff.business.common.eo.AchievementTypeEO" />
        <mapping class="it.fff.business.common.eo.AttendanceEO" />
        <mapping class="it.fff.business.common.eo.AttendanceStateEO" />
        <mapping class="it.fff.business.common.eo.CityEO" />
        <mapping class="it.fff.business.common.eo.EventCategoryEO" />
        <mapping class="it.fff.business.common.eo.EventEO" />
		<mapping class="it.fff.business.common.eo.EventStateEO" />
		<mapping class="it.fff.business.common.eo.KeywordEO" />
        <mapping class="it.fff.business.common.eo.LanguageEO" />
        <mapping class="it.fff.business.common.eo.MessageEO" />
        <mapping class="it.fff.business.common.eo.MessageStandardEO" />
        <mapping class="it.fff.business.common.eo.NationEO" />
        <mapping class="it.fff.business.common.eo.PlaceEO" />
        <mapping class="it.fff.business.common.eo.PlaceTypeEO" />
        <mapping class="it.fff.business.common.eo.PriceEO" />
		<mapping class="it.fff.business.common.eo.ProfileImageEO" />
        <mapping class="it.fff.business.common.eo.SessionEO" />
		<mapping class="it.fff.business.common.eo.SubscriptionEO" />
		<mapping class="it.fff.business.common.eo.SubscriptionTypeEO" />        
        <mapping class="it.fff.business.common.eo.UserEO" />
    </session-factory>
</hibernate-configuration>